# LANGCHAIN 
langchain 
langchain-community 
langchain-google-genai 
langchain-core 

# API AND FRONTEND
fastapi
pydantic
uvicorn
streamlit 
python-dotenv

# EMBEDDINGS AND VECTOR STORE 
sentence-transformers
faiss-cpu
requests
python-multipart
pypdf
